<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>{% if title %} {% block title %} {{ title }} - {% endblock %} {% endif %} BarraHome.org :~#</title>
    {% if seo %}
    <meta name="description" content="{% block seo %} {{ seo }} {% endblock %}">
    {% else %}
    <meta name="description" content="BarraHome.org :~#">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow"> 
    <link rel="shortcut icon" href="https://cdn.barrahome.org/favicon.ico">
    <link rel="stylesheet" href="https://cdn.barrahome.org/css/barrahome/terminal.min.css" media="all" />
    <link rel="stylesheet" href="https://cdn.barrahome.org/css/barrahome/animate.min.css" media="all" />
    <link rel="stylesheet" href="https://cdn.barrahome.org/css/barrahome/console.min.css" media="all" />
</head>

<body class="terminal">
    <div class="container">
        <div class="terminal-nav terminal-nav-sticky">
            <header class="terminal-logo">
                <div class="logo terminal-prompt"><a href="/" class="no-style site-name">/home</a>:~#</div>
            </header>
            <nav class="terminal-menu">
                <ul vocab="https://schema.org/" typeof="BreadcrumbList">
                    <li><a href="{{ url_for('index') }}" typeof="ListItem">Inicio</a>/</li>
                    <li><a href="{{ url_for('projects') }}" typeof="ListItem">Proyectos</a>/</li>
                    <li><a href="{{ url_for('contact') }}" typeof="ListItem">Contacto</a>/</li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="container">
        {% block content %}{% endblock %}
        <div class="footer">
            Powered by <a href="{{ url_for('projects') }}">RCPC</a> - © - 2002 - {{ now.year }} - <a href="{{ url_for('credits') }}">Créditos</a> - <a href="{{ url_for('legal') }}">Legal</a> - Hosted at <a href="https://www.rackspace.com/">Rackspace Technology</a>
        </div>
    </div>
</body>

</html>
